BIN/*
DEVEL/.vs/
DEVEL/LINUX/
DEVEL/obj/
DEVEL/bin/
ENGINE/DEVEL/x64/
ENGINE/DEVEL/.vs/vbEngine/
IMG/*
DOCS/*
DEMO/*
SRC/raylib/old/
SRC/particle_editor-main/
SRC/lib/
fonts/
DEVEL/Debug/
*.dat
*.o
SRC/raylib/Choose
SRC/raylib/Execute
SRC/raylib/Reset
SRC/raylib/Setup
WAV/
*.ttf
*.otf
*.raw
*.data
*.wasm
*.mp3
SRC/Execute
SRC/Reset
SRC/serv.py
SRC/onlineres/
SRC/bkRes/images.json
SRC/bkRes/
WEB/
DEVEL/Investor.WEB/Investor.WEB.sln
*.pdb
*.idb
*.obj
*.sqlite
.vs/
*.exe
*.png
*.recipe
*.ilk
*.enc
*.zip
SRC/SOUNDS/
SRC/omniMich.js
DEVEL/vbEngineRaspberry/obj/
DEVEL/vbEngineRaspberry/bin/
DEVEL/readme/
